main {
  padding-top: 23.76px;
  .container {
    padding-top: 23.76px;
    width: 1217.44px;
    height: 577.35px;
    left: 97.36px;
    top: 94.44px;
    min-width: 1217.44px;
  }
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6.82px;
  width: 592.93px;
  height: 265.45px;
}
.hi {
  padding-top: 117.69px;
  padding-bottom: 6.82px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 17.525px;
  line-height: 26px;
  color: #fcc028;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.slogan {
  font-style: normal;
  font-weight: 600;
  font-size: 70.8037px;
  line-height: 32.82px;
  display: flex;
  align-items: center;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.motto {
  width: 498px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23.3667px;
  line-height: px;
  /* identical to box height */
  color: #207733;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.motto-text {
  width: 592.93px;
  height: 139px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17.525px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 6.82px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.click {
  padding-top: 35.05px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21.42px;
  width: 320.06px;
  height: 41.47px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 29.2083px;
  gap: 10px;
  width: 152.86px;
  height: 41.47px;
  background: #fcc028;
  border-radius: 4.86806px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 14.6042px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
  &:hover {
    background: #dca720;
  }
}
.cv {
  height: 22px;
  font-weight: 600;
  font-size: 14.6042px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.cv-icon {
  padding-left: 21.42px;
}
.hero-img {
  padding: 9.74px;
  width: 596.28px;
  height: 557.88px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

// profile-card
.profile-card {
  position: absolute;
  width: 376.79px;
  height: 122.68px;
  left: 58px;
  top: 601px;
  background: #ffffff;
  box-shadow: 0px 2.72153px 34.0191px rgba(19, 23, 61, 0.1);
  border-radius: 6.80382px;
}
.profile-img {
  position: absolute;
  width: 47.63px;
  height: 47.63px;
  left: 17.69px;
  top: 13.61px;
}
.name {
  position: absolute;
  width: 92px;
  height: 16px;
  left: 72.8px;
  top: 22.45px;

  font-weight: 400;
  font-size: 10.8861px;
  line-height: 16px;

  color: #000000;
}
.date {
  position: absolute;
  height: 14px;
  left: 73.48px;
  top: 38.1px;
  font-weight: 400;
  font-size: 9.52535px;
  line-height: 14px;

  color: rgba(0, 0, 0, 0.5);
}
.profile-content {
  position: absolute;
  width: 325.19px;
  height: 28px;
  left: 20.45px;
  top: 73.02px;
  font-weight: 400;
  font-size: 9.52535px;
  line-height: 14px;

  color: rgba(0, 0, 0, 0.7);
}
